<h1>#PostShow</h1>
<div>
	<div>
		<p>
			<%= @post.text %>
		</p>
	</div>
	<div>
		<h2>Comments:</h2>
		<%= render @post.comments %>
	</div>
	<div>
		<h2>Add a comment:</h2>
		<%= render 'comments/form' %>
	</div>
	<div>
		<%= link_to 'Index', posts_path %>
	</div>
	<div>
		<%= link_to 'Edit', edit_post_path(@post) %>
	</div>
</div>