<!DOCTYPE html>
<html>
<head>
  <title>RBlog</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

	<%= link_to 'RBlog', root_path %></div>
	<% if current_user %>
		<%= current_user.name %>
		<%= link_to 'Logout', '/logout' %>
	<% else %>
		<%= link_to 'Login', '/login' %>
		<%= link_to 'Signup', '/signup' %>
	<% end %>

	<%= yield %>

</body>
</html>
